.dashboard {
  padding-left: 70px;
  display: flex;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  padding-left: 60px;
  width: 240px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  padding: 1rem;
  overflow-y: auto;
}

.emailListSection {
  flex: 1;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
}

.emailContentSection {
  flex: 2;
  overflow-y: auto;
  padding: 1rem;
}

.sidebarSection {
  margin-bottom: 15px;
}

.sidebarTitle {
  font-weight: bold;
  padding: 10px;
  color: #555;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  border: none;
  background-color: #f3f9f9;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
}

.sidebar button:hover {
  background-color: #e8eaed;
}

.sidebar button.active {
  background-color: #deedee;
}


.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.messagePreview, .messageSelected {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s;
  background-color: #FFFFFF; /* or any other color you prefer */
}
.messagePreview:hover, .messageSelected:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.messageSelected {
  background-color: #deedee;
}
.splitView {
  display: flex;
  width: 100%;
}

.messageList {
  padding-left: 100px;
  width: 35%;
  padding-right: 20px;
}



.senderName {
  font-weight: bold;
  color: #333;
}

.messageTime {
  color: #666;
  font-size: 0.8em;
}

.messageSnippet {
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.messageDetails {
  width: 65%;
  border: 1px solid #e0e0e0;
  padding: 10px;
  min-height: 200px; 
  font-family: 'Nunito', sans-serif;
}
.messageInfo {
  flex-grow: 1;
}

.messageSubject {
  color: #666;
  text-align: left;
  font-size: 1em;
  margin-bottom: 4px;
  font-family: 'Nunito', sans-serif;
}

.messageFrom {
  font-size: 5em;
  color: #999;
  margin-bottom: 4px;
  font-family: 'Nunito', sans-serif;
}

.messageDate {
  text-align: right;
  color: #ccc;
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
}

.messageBody {
  color: #333;
}

.filterOptions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filterOptions button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #f1f3f4;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filterOptions button:hover, .filterOptions button.active {
  background-color: #e8eaed;
}